<body>
   <div class="animated slideInLeft" id="square">    
    <div class="animated bounceInUp" id="leftSquare">
        <div id="row">
        <div class="col-lg-8">
            <h1 class="title">Codepen</h1>
        </div>
            <i class="down fa fa-chevron-down" aria-hidden="true"></i>
            <i class="bell fa fa-bell-o fa-lg" aria-hidden="true"></i>
        </div>
        <div id="row">
        <div id="circle"></div>
        <h2 id="subtitle">mmang</h2>
        </div>
        <div id="row">
        <h2 id="channels">CHANNELS<span id="light">(29)</span> <i class="add fa fa-plus-circle fa-inverse" aria-hidden="true"></i> </h2>
        </div>
        <div id="highlight-channel"></div>
            <div id="row">
        <h2 id="channel"># pens</h2>
        </div>
        <div id="row">
        <h2 id="channel2"><span id="opacity"># </span> <span id="bold">posts</span></h2>
        </div>
            <div id="row">
        <h2 id="channel3"># shop</h2>
        </div>
            <div id="row">
            <span id="highlight">
            <h2 id="channel4"># codevember</h2></span>
        </div>
        
        <div id="row">
        <h2 id="messages">DIRECT MESSAGES<span id="light">(12)</span> <i class="add-two fa fa-plus-circle fa-inverse"></i> </h2>
        </div>
        <div id="row">
        <div id="circle2"></div>
        <h2 id="subtitle2">Jsmith</h2>
        </div>
        <div id="row">
        <div id="circle3"></div>
        <h2 id="subtitle3">mmang(you)</h2>
        </div>
            
    </div>
           
    <div class="animated bounceInDown" id="header">  
          
              <h2 id="channel-title">
                #pens
              </h2>
              <div id = "icons">
              
                <i class="star fa fa-star-o" aria-hidden="true"></i>
              <h3 id="line"> | </h3>
              <i class="user fa fa-user-o" aria-hidden="true"></i>
              <h3 id="line2"> | </h3>
              <i class="pin fa fa-thumb-tack" aria-hidden="true"></i>
              </div>
              <div id="rightIcons">
                <i class="phone fa fa-phone fa-lg" aria-hidden="true"></i>
              <i class="cog fa fa-cog fa-lg" aria-hidden="true"></i>
              <i class=" details fa fa-list-alt fa-lg" aria-hidden="true"></i>
              <h3 id="line3"> | </h3>
                <i class="search-glass fa fa-search" aria-hidden="true"></i>
                <input class="search" placeholder="Search" type="text" />
                
                <i class="at fa fa-at fa-lg" aria-hidden="true"></i>
              
                <i class="star-o fa fa-star-o fa-lg" aria-hidden="true"></i>
               <i class="menu fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
                
              </div>
          
          <hr class="bottom-header-line" />
    </div>
        
    <div id="message-area">
         <div id="message-one">
          <div id="container">
            <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="#" class="person-one thumbnail">
                    <img class="person-img-one" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/827672/pexels-photo-119705%20(1).jpeg">
                </a>
              </div>
            </div>
          </div>
          <div id="container"> 
            <h4 id="person-name"> Jsmith <span id="time">9:02 AM</span> </h4>
            <h5 id="person-text">
            
              Morning everyone!
            
            </h5>
          </div>
         </div>
         
    </div>
    <div id="message-area-two">
      <div id="message-two">
        <div id="container">
         <div class="row">
            <div class="col-xs-6 col-md-3">
          <a href="#" class="person-two thumbnail">
            <img class="person-img-two" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/827672/Screen%20Shot%202016-11-21%20at%209.39.49%20AM.png">
          </a>
            </div>
         </div>
        </div>
        <div id="container"> 
          <h4 id="person-name-two"> KyleD<span id="time">9:02 AM</span> </h4>
          <h5 id="person-text-two">

              Yooooo

          </h5>
        </div>
      </div>
    </div>
    <div id="message-area-three">
      <div id="message-three">
        <div id="container">
          <div class="row">
            <div class="col-xs-6 col-md-3">
            <a href="#" class="person-three thumbnail">
              <img class="person-img-three" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/827672/Screen%20Shot%202016-11-21%20at%209.58.01%20AM.png">
            </a>
            </div>
          </div>
        </div>
        <div id="container"> 
          <h4 id="person-name-three"> sam_I_am<span id="time">9:02 AM</span> </h4>
          <h5 id="person-text-three">

              Dude, I found this awesome pen

          </h5>
        </div>
      </div>
    </div>
    <div id="message-area-four">
      <div id="message-four">
        <div id="container">
          <div class="row">
            <div class="col-xs-6 col-md-3">
             <a href="#" class="person-four thumbnail">
              <img class="person-img-four" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/827672/Screen%20Shot%202016-11-21%20at%209.58.01%20AM.png">
             </a>
            </div>
          </div>
        </div>
        <div id="container"> 
                <h4 id="person-name-four"> sam_I_am<span id="time">9:02 AM</span> </h4>
                <h5 id="person-text-four">
  
                  One sec, going to find the link
  
                </h5>
        </div>
      </div>
    </div>
    <div id="message-area-five">
        <div id="message-four">
              <div id="container">
                <div class="row">
                  <div class="col-xs-6 col-md-3">
                    <a href="#" class="person-four thumbnail">
                        <img class="person-img-four" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/827672/Screen%20Shot%202016-11-21%20at%209.58.01%20AM.png">
                    </a>
                  </div>
                </div>
              </div>
              <div id="container"> 
                <h4 id="person-name-four"> sam_I_am<span id="time">9:02 AM</span> </h4>
                <h5 id="person-text-four">
  
                  Got it! <a href="#"> Slack Chat CSS </a>
  
                </h5>
              </div>
             </div>
    </div>
    <div id="message-area-six">
        <div id="message-one">
          <div id="container">
            <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="#" class="person-one thumbnail">
                    <img class="person-img-one" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/827672/pexels-photo-119705%20(1).jpeg">
                </a>
              </div>
            </div>
          </div>
          <div id="container"> 
            <h4 id="person-name"> Jsmith <span id="time">9:02 AM</span> </h4>
            <h5 id="person-text">
            
              Sick! I'm so hearting that and posting on Twitter
            
            </h5>
          </div>
         </div>
         
    </div>
    <div id="bottom">
        <input class="search-bottom" placeholder="Message #pens" type="text"/>
        <i class="smile fa fa-smile-o" aria-hidden="true"></i>
        <h3 id="line-bottom"> | </h3>
        <i class="plus fa fa-plus" aria-hidden="true"></i>
    </div>
    
    </div>
</body>